<% content_for :body_content_left do %>
  <ul id="contacts">
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to contact.name, refinery.directory_contact_path(contact) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
